.main-body{
    width: 400px;
    background-color: #d9dee1;
    border-radius: 20px;
    border-color: rgb(143, 147, 155);
    border-width: 3px;
    margin: auto;
    height: 547px;
    border-style: groove;

    
}
.output{width: 349px;
    height: 69px;
    background-color: rgb(205 205 205);
    border-radius: 8px;
    border-color: black;
    margin-left: 21px;
    margin-top: 44px;
    pointer-events: none;
}
.buttons{
    width:auto;
    height:auto;
    margin-top: 10px;
}
.rows{
    margin-top: 19px;
    margin-left: 27px;
    height: auto;
}
.bstyle{
    background: rgb(240,239,249);
    background: linear-gradient(90deg, rgba(240,239,249,1) 0%, rgba(218,218,222,1) 35%, rgba(179,220,228,1) 100%);

    border-radius: 8px;
    font-size: 34px;
    margin-right: 2px;
    width: 82px;
    height: 78px;
}